.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7a7a7a;
    background-color: #39225B;
    z-index: 1000;
    animation: colorChange 5s ease-in-out infinite, colorChangeText 5s ease-in-out infinite;;
  }

  @keyframes colorChange {
    0% { background-color: #39225B; }
    100% { background-color: #ffee97; }
  }

  @keyframes colorChangeText {
    0% { color: #ffffff; }
    100% { color: #7a7a7a; }
  }

  .splash-content {
    text-align: center;
  }
  
  .splash-content h1 {
    text-align: center;
    //animation: drop 0.5s ease forwards;
    font-size: 2.5em;

    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: typing 2.5s steps(30) 1s forwards, blink 0.75s step-end infinite
  }

  .splash-logo {
    width: 80px;
    height: 80px;
    //animation: shake 0.5s ease-in-out infinite;
    margin-bottom: 35px;
    margin-top: 15px;
  }
  
/*   @keyframes drop {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
  } */

  @keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  @keyframes blink {
    0% { border-right-color: white; }
    50% { border-right-color: transparent; }
    100% { border-right-color: white; }
  }